<div class="masthead">
  <div class="inner">
    <div class="row">
      <div class="col-md-4">
        <h2 class="masthead-brand">Jordan Cummings</h2>
      </div>
      <div class="col-md-8">
        <nav class="nav nav-masthead app-nav">
          <%= nav_helper 'nav-link', 'span' %>
          <%= login_helper 'nav-link' %>
        </nav>
      </div>
    </div>
  </div>
</div>