<nav id="topNav" class="navbar-top">
  <%= nav_helper 'text-white', 'li' %>
  <li class="right"><%= login_helper "text-white" %></li>
</nav>
<header>
  <!-- Profile Pic -->
  <h1>Jordan Cummings</h1>
  <hr>

  <div class="social">
    <a href="https://twitter.com/j_d_cummings" target="_blank">Twitter</a>
    <a href="https://github.com/jordancummings" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/jordan-d-cummings/" target="_blank">Linkedin</a>
  </div>
</header>