<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Portfolio Projects</h1>
    <p class="lead text-muted">Projects I've already completed, and some that I'm currently working on.</p>

    <%= link_to "Find out more about me", about_path, class: 'btn btn-outline-primary' %>
    <%= link_to "My blog", blogs_path, class: 'btn btn-outline-primary' %>

  </div>
</section>