<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <%= image_tag 'profile.png', width: 400, alt: 'profile image'%>
  </div>

  <div class="col-md-6">
    <p>As a new developer, I have devoured information and training from every resource possible. I've worked alongside junior- and mid-level developers and have built my own projects (which you can find in my portfolio).</p>

    <p>I strive for perfection, and work hard to deliver a product that satisfies client's needs in regards to functionality and feel, delivered on time and on budget.</p>
  </div>
</div>